[user]
	name = Ben Hunter
	email = benjamin.a.hunter1.mil@army.mil
	signingkey = 20f23a514f8f50ea4e136489942e65656c55b32e
[gpg]
	format = x509
[gpg "x509"]
	program = smimesign
[commit]
	gpgSign = true
[tag]
	gpgsign = true
[core]
	excludesfile = /Users/b2186555/.gitignore_global
[init]
	defaultBranch = main
