# Private/Enterprise npm package registries should be configured in ~/.npmrc.local
# Example:
# //gitlab.example.com/api/v4/packages/npm/:_authToken="${NPM_READ_ONLY_TOKEN}"
# @scope:registry=https://gitlab.example.com/api/v4/packages/npm/
