# NPM_ASVE_READ_ONLY_TOKEN is a GitLab Personal Access Token with `read_repository` scope
//gitlab.create.army.mil/api/v4/packages/npm/:_authToken="${NPM_ASVE_READ_ONLY_TOKEN}"
@asve:registry=https://gitlab.create.army.mil/api/v4/packages/npm/
